/*header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color:#09090E;
    color:white;
    height: 104px;
    display: grid;
    place-items: center;
}
.title{
    color:#707070;
    text-decoration: underline;
    font-size: 40px;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 43px auto;
}
body{
   font-family: Georgia, 'Times New Roman', Times, serif; 
   line-height: 25px;
    margin: auto 17px;
    display: flex;
    flex-direction: column;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav, .btn:hover{
    outline: #09090E solid 1px;
}
nav>ul{
    display: flex;
    padding:0;
    list-style-type: none;
}
footer{
    position: fixed;
    bottom:0;
    left: 0;
    width: 100%;
}
nav li{
    width: 25%;
    background-color: #fff;
}
nav li a{
    color:#09090E;
}
.btn{
    text-align:center;
    font-size: 1.19em;
    display: grid;
    place-items: center;
}
.btn:hover{
    cursor: pointer;
    background-color: #707070;
}
a{
    text-decoration: none;
}
#about{
    margin-top: 121px;
    margin-bottom: 77px;
}
#myProfilePic{
    height: 100%;
    width: 261px;
}
div.hero>div{
    display: flex;
}
article.hero, .hobbies>article>ul{
    font-size: 20px;
    text-transform: uppercase;
    line-height: 30px;
    width: 80%;
}
.skills{
    background-color: #09090E;
    color:#fff;
    width: 100vw;
        position: relative;
        left: calc(-50vw + 50%);
}

 .hobbies>article>ul{
    width: 100%;
    list-style: none;
    text-align: center;
 }
 .languagesAndFrameworks{
    

 }
.languagesAndFrameworks> h2.title{
      font-size: 25px;  
}
.languagesAndFrameworks  dt{
    font-family: Arial, sans-serif;
    color:#707070;


}*/
*{
    margin: 0;
    padding: 0;
   
    box-sizing: border-box;
}

body{
    position: relative;
}
header, footer{
    position: sticky;
    position: -webkit-sticky;
    background-color: #09090E;
    color:white;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    right: 0;
}
header{
    top: 0;
}
footer{
    bottom: 0;
}

#skills, #contact{
    background-color: #09090E;
    color:white;
}